body{
    background-color: rgba(172, 255, 47, 0.534);
}

#hay {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

h1 { 
    color: rgba(255, 0, 0, 0.829);
    text-align: center;
    font-size: 50px;
}

.principal {
    background: yellow;
    font-size: 30px;
}