body{
    background-color: rgba(255, 255, 0, 0.596);
}

#imagemsite {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

h1 { 
    color: rgba(255, 0, 0, 0.733);
    text-align: center;
    font-size: 50px;
}

.principal {
    background: rgba(255, 166, 0, 0.753);
    font-size: 30px;
}